<h1>Store Discography:</h1>

<h3><% @products.each do |product| %></h3>
  <h3>Image: <%= product.image %></h3>
  <h3>Artist: <%= product.artist %></h3>
  <h3>Album: <%= product.album %></h3>
  <h3>Year: <%= product.year %></h3>
  <h3>Genre: <%= product.genre %></h3>
  <h3>Record Weight: <%= product.weight %></h3>
  <h3>Price: <%= product.price %></h3>
  <br>
<% end %>  