<h1>The Vine(yl) Bin | Wrigleyville's Finest Record Store</h1>  

<% @records.each do |record| %>
  <br>
  <img src= <%= record.image %>>
  <h3><%= link_to record.artist, "/records/#{record.id}" %></h3>
  <h4>Album: <%= record.album %></h4>
  <h4>Year: <%= record.year %></h4>
  <h4>Genre: <%= record.genre %></h4>
  <h4>Weight: <%= record.weight %></h4>
  <h4>Price: <%= record.price %></h4>
  <br>
<% end %>  