<%= link_to 'Edit Record', "/records/#{@record.id}/edit" %>
<br>
<%= link_to 'Delete Record', "/records/#{@record.id}", method: :delete %>
<br>
<img src= <%= @record.image %>>
<% if @record.discounted? %>
  <h3>On Sale!</h3>
<% else %>  
  <h3>Discounted!</h3>
<% end %>  
<h3>Artist: <%= @record.artist %></h3>
<h4>Album: <%= @record.album %></h4>
<h4>Year: <%= @record.year %></h4>
<h4>Genre: <%= @record.genre %></h4>
<h4>Weight: <%= @record.weight %></h4>
<h4 class="<%= "discount-price" if @record.discounted? %>">Price: <%= number_to_currency(@record.price) %></h4>
<h4>Tax: <%= number_to_currency(@record.tax) %></h4>
<h3>Total: <%= number_to_currency(@record.total) %></h3>


