<%= link_to 'Edit Record', "/records/#{@record.id}/edit" %>
<br>
<%= link_to 'Delete Record', "/records/#{@record.id}", method: :delete %>
<br>
<img src= <%= @record.image %>>
<h3>Artist: <%= @record.artist %></h3>
<h4>Album: <%= @record.album %></h4>
<h4>Year: <%= @record.year %></h4>
<h4>Genre: <%= @record.genre %></h4>
<h4>Weight: <%= @record.weight %></h4>
<h4>Price: <%= @record.price %></h4>

