<br>
<img src= <%= @record.image %>>
<h3>Artist: <%= @record.artist %></h3>
<h3>Album: <%= @record.album %></h3>
<h3>Year: <%= @record.year %></h3>
<h3>Genre: <%= @record.genre %></h3>
<h3>Weight: <%= @record.weight %></h3>
<h3>Price: <%= @record.price %></h3>