<% if current_user && current_user.admin %>
  <%= link_to 'Edit Record', "/records/#{@record.id}/edit" %>
  <br>
  <%= link_to 'Delete Record', "/records/#{@record.id}", method: :delete %>
<% end %>  
<br>
<% if @record.discounted? %>
  <h3>On Sale!</h3>
<% else %>  
  <h3>Discounted!</h3>
<% end %> 
<img src="<%= @record.top_image %>" 
<br>
<h3>Artist: <%= @record.artist %></h3>
<h4>Album: <%= @record.album %></h4>
<h5>Year: <%= @record.year %></h5>
<ul>
<% @categories.each do |category|%>
  <li><%= category.name %></li>
<% end %>
</ul>
<h5>Weight: <%= @record.weight %></h5>
<br>
<h4>Description:</h4> <p><%= @record.description %></p>
<br>
<h4 class="<%= "discount-price" if @record.discounted? %>">Price: <%= number_to_currency(@record.price) %></h4>
<h4>Tax: <%= number_to_currency(@record.tax) %></h4>
<h3>Total: <%= number_to_currency(@record.total) %></h3>
<br>
<%= form_tag '/carted_products', method: :post do %>
  <div>
    <%= text_field_tag :quantity, nil, placeholder: "Quantity"%>
  </div>
  <div>
    <%= hidden_field_tag :product_id, @record.id  %>
  </div>
  <%= submit_tag 'Add to Cart' %>
<% end %>

<br>
<h6>Supplier: <%= @supplier.name %></h6>
<h6>Email: <%= @supplier.email %></h6>
<h6>Phone: <%= @supplier.phone %></h6>


